/* src/index.css or src/fonts.css */
@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/Raleway.ttf') format('truetype');
  /* font-weight: 400; */
  font-style: normal;
}


body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}